// mobile
@media only screen and (max-width:1000px){
    .reservascontainer{
        background-color: red;
        .reservascontainertable{
            overflow-x: scroll;
            .table{
                thead{
                    tr{
                        display: flex;
                        // flex-direction: row;
                        white-space: nowrap;
                        justify-content: space-between;
                        th{
                        // color: red;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        }
                    }
                }
            }
            
        }
    }
    
}